body {
  margin: 0;
}
footer {
  padding-top: 32px;
  padding-left: 8px;
  padding-bottom: 8px;
}
h1 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.header {
  display: flex;
  align-items: center;
  padding: 16px;
  background-color: rgb(146, 172, 195);
}
.header > div {
  flex: 1;
}
#profilePhoto {
  border-radius: 100%;
  height: 20vh
}
.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav p {
 margin: 0;
}
#main {
  background-color: rgb(201, 227, 250);
}
#main2 {
  background-color: rgb(201, 227, 250);
  height: 100%;
}
.hobbiesLink {
  background-color: rgb(201, 227, 250);
  padding: 4px;
  border-radius: 4px;
}
.hobbySubSec {
  display: flex;
  align-items: center;
  gap: 64px;
}
.hobbySubSec img{
  height: 40vh
}
#footer2 {
  display: flex;
  background-color: rgb(201, 227, 250);
}
.section {
  padding-top: 16px;
  padding-right: 16px;
  padding-left: 16px;
}
.section p {
  margin: 4px;
}
.section ul {
  margin-top: 6px;
  margin-bottom: 0px;
}
hr {
  margin: 16px;
}
#gitHubLink:hover {
  background-color: rgb(164, 186, 206);
  border-radius: 100%;
}